  .footer{
      background: $color-primary;
      color: #fff;
      padding: 5rem 0;


      &-grid{
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-gap: 5rem;

          @media only screen and (max-width:$px768){
            
        }
      }

      .footer-logo-area{
        @media only screen and (max-width:$px768){
            grid-row: 1/2;
            grid-column: 1/-1;

        }

          &-up{
              border-bottom: 1px solid rgba(248, 248, 252, 0.2);
              padding-bottom: 1rem;
          }
      }


      .logo{
          h3{
              font-size: 2.5rem;
              color:#fff;
          }
      }


      .social{  
          width: 3rem;
          margin-right: 1rem;
          img{
              width: 3rem;
          }
      }



      .footer-links-area{
        @media only screen and (max-width:$px768){
            grid-row: 2/3;
            grid-column: 1/-1;
            
        }
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));

         .footer-links-item{
             h4{
                 margin-bottom: 3rem;
             }

             .footer-links{
                 li{
                     margin-bottom: 3rem;

                     a{
                         color: $color-text2;
                        transition: all .2s;

                        &:hover{
                            color: #ff5a5e;
                        }

                     }
                 }
             }
         }
      }
  }