
.nav{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #3138961a;
    background-color: #fff;    


    .nav-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 1rem 0;
    }

    .logo{
        z-index: 9;
    }

    .nav__menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        @media only screen and (max-width:$px992){
            display: none; 
        }

        &-link{
            display: inline-block;
            padding-right: 15px;
            padding-left: 15px;
            -webkit-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
            color: rgba(5, 5, 27, 0.8);
            font-size: 15px;
            font-weight: 500;
        }

        .btn{
            color: #fff; 
        }

        
    }
}


.hero_text-box{
    padding-top: 15rem;
    padding-bottom: 4rem; 
    text-align: center;

    .heading-1{
        text-align: center;
        color:$color-primary;
        font-size: 5.7rem;
        line-height: 118%;
        margin-bottom: 1rem;

        @media only screen and (max-width:$px992){
            font-size: 5rem;
        }
        @media only screen and (max-width:$px575){
            font-size: 4.5rem;
        }
    }

    .p-text{
        max-width: 68rem;
        margin: 20px auto 15px;
        font-size: 2.2rem;
        line-height: 140%;
    }

}
.hero_img{
    width: 100%;
}

.mobile__menu{

    display: none;
    @media only screen and (max-width:$px992){
        display: block; 
    }

    .button{
        width: 4rem;
        height: 4rem;
        border-radius: 5px;
        background-color: transparent;
        position: relative;
        z-index: 9;
        -webkit-transition: all .5s cubic-bezier(.86,.49,.83,.67);
        -o-transition: all .5s cubic-bezier(.86,.49,.83,.67);
        transition: all .5s cubic-bezier(.86,.49,.83,.67);
        cursor: pointer;

        img{
            width: 100%;
        }
    }



    .mobile__nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 0;
        overflow: hidden;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background:#fff;
        -webkit-transition: all .5s cubic-bezier(.86,.49,.83,.67);
        -o-transition: all .5s cubic-bezier(.86,.49,.83,.67);
        transition: all .5s cubic-bezier(.86,.49,.83,.67);

        .btn{
            color: #fff;
            width: 270px;
            max-width: none;
            min-width: 270px;
        }

        li{
            margin-bottom: 3rem;
            -webkit-transition: all .6s;
            -o-transition: all .6s;
            transition: all .6s;
            -webkit-transition-delay: .3s;
                 -o-transition-delay: .3s;
                    transition-delay: .3s;
            opacity: 0;

            a{
                font-size: 2rem;
            }
        }

    }


    &.active{
        .button{
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
        }

        .mobile__nav{
            height: 100vh;

            li{
                opacity: 1;
            }
        }

    }
}